<%# if @user.kind == "buyer" %>
  <%# link_to "become a seller", "/requests/new" %>
<%# end %>
<h1><%= @user.name %></h1>
<p>You're <%= @user.kind %></p>
<% if @request %>
<b> You are rejected to become a seller because <%= @request.reason %> </b> 
<% end %>
