<% @requests.each do |n| %>
  <div style="border: 1px solid black">
    <h1><%= n.user.name %></h1>
    <p><%= form_for(n, method: :patch) do |f| %>
      <%= f.button "Accept", name: :requested, value: "accepted" %>
      <%= f.button "Reject", name: :requested, value: "rejected" %>
    <% end %></p>
  </div>
<% end %>
